@use "../abstracts/variables" as *;

/* Pagina de contacto */

.contacto {
    text-align: center;
    padding-top: 5%;
}

.formulario-contacto {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 24px;
    margin-top: 5%;
    margin-bottom: 7%;
    background-color: $text-color;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 16px;
    .formulario-grupo {
        display: flex;
        flex-direction: column;
        .formulario-label {
            font-weight: bold;
            margin-bottom: 6px;
            color: $background-color;
        }
        .formulario-input,
        .formulario-textarea {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            transition: border-color 0.3s;
        }
        .formulario-input:focus,
        .formulario-textarea:focus {
        border-color: #BDE038;
        outline: none;
        }
    }
    .formulario-boton {
        background-color: $background-color;
        color: $text-color;
        padding: 12px 24px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .formulario-boton:hover {
        background-color: #BDE038;
    }

}