@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
/* Paleta de colores */
/* Esquinas */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Home */
.promotion-bar {
  background-color: #BDE038;
  text-align: center;
  height: 25px;
}

.logo {
  font-size: 40px;
  color: aliceblue;
}

.pop-up {
  width: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: 50px;
  padding-right: 10px;
  z-index: 1000;
}

.pop-up:hover {
  width: 80px;
}

/* Banner principal */
.banner {
  background-image: url(../assets/banner-3.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 488px;
}

.banner2 {
  background-image: url(../assets/banner-4.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 488px;
}

/* Productos destacados */
.features {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #000000;
  color: aliceblue;
}
.features .product {
  display: grid;
  gap: 30px;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.features .product .product-card {
  display: grid;
  justify-items: center;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  color: #000000;
  padding-bottom: 10px;
  margin: 10px;
}
.features .product .product-card p {
  text-align: center;
  padding: 10px;
}
.features .product .product-card .product-card_img {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  border-radius: 20px;
  width: 75%;
}
.features .product .product-card .product-card_cta {
  background-color: #000000;
  color: aliceblue;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.features .product .product-card .product-card_cta:hover {
  background-color: #BDE038;
  transform: scale(1.02);
}

/* Proveedores */
.suppliers {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: auto;
  padding-bottom: 50px;
}
.suppliers .suppliers-list {
  display: flex;
  justify-content: space-between;
}
.suppliers .suppliers-list .suppliers-logo {
  border-radius: 50px;
  width: 100px;
}

/* Grid section */
.container-grid {
  display: flex;
  gap: 10px;
  padding: 5%;
}
.container-grid .grid1 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  grid-template-areas: "img-uno img-uno img-uno" "img-dos img-tres img-tres";
  gap: 10px;
}
.container-grid .grid1 .img-uno, .container-grid .grid1 .img-dos, .container-grid .grid1 .img-tres {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-grid .grid1 .img-uno {
  grid-area: img-uno;
}
.container-grid .grid1 .img-dos {
  grid-area: img-dos;
}
.container-grid .grid1 .img-tres {
  grid-area: img-tres;
}
.container-grid .grid2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "item1 item1 item2" "item3 item3 item4" "item5 item6 item6";
  gap: 10px;
}
.container-grid .grid2 .item1,
.container-grid .grid2 .item2,
.container-grid .grid2 .item3,
.container-grid .grid2 .item4,
.container-grid .grid2 .item5,
.container-grid .grid2 .item6 {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-grid .grid2 .item1 {
  background-image: url(../assets/imggrid6.jpg);
  grid-area: item1;
}
.container-grid .grid2 .item2 {
  background-image: url(../assets/imggrid4.jpg);
  grid-area: item2;
}
.container-grid .grid2 .item3 {
  background-image: url(../assets/imggrid7.jpg);
  grid-area: item3;
}
.container-grid .grid2 .item4 {
  background-image: url(../assets/imggrid5.jpg);
  grid-area: item4;
}
.container-grid .grid2 .item5 {
  background-image: url(../assets/imggrid9.jpg);
  grid-area: item5;
}
.container-grid .grid2 .item6 {
  background-image: url(../assets/imggrid6.jpg);
  grid-area: item6;
}

/* MQ para celulares*/
@media (max-width: 576px) {
  header {
    display: grid !important;
    grid-template-columns: 1fr 0.3fr;
  }
  header nav ul {
    display: none !important;
  }
  header .navbar-toggler {
    display: block !important;
  }
  .product {
    justify-items: center;
  }
  .grid1,
  .img-uno,
  .img-dos,
  .img-tres,
  .item1,
  .item3,
  .item6,
  .catalog__filters {
    display: none !important;
  }
  .container-grid {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-areas: "grid2";
  }
  .grid2 {
    display: grid;
    grid-area: grid2;
    width: 100%;
    max-width: 100vw;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
    grid-template-areas: "item2" "item4" "item5" !important;
  }
  .item2,
  .item4,
  .item5 {
    height: 50vh;
    width: 100%;
    margin: 10px;
  }
}
/* MQ para tablets*/
@media (min-width: 577px) and (max-width: 991px) {
  .grid1 {
    display: none !important;
  }
  .container-grid {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-areas: "grid2";
  }
  .grid2 {
    display: grid !important;
    grid-area: grid2;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "item2 item4" "item5 item5";
  }
  .grid2 .item1,
  .grid2 .item2,
  .grid2 .item3,
  .grid2 .item4,
  .grid2 .item5,
  .grid2 .item6 {
    height: 30vh;
    width: 100%;
  }
}
/* Pagina de productos */
a {
  color: aliceblue !important;
  text-decoration: none !important;
}

.catalog {
  background-color: #000000;
  display: grid !important;
  grid-template-columns: 10vw auto;
  grid-template-rows: max-content max-content;
}
.catalog .catalog__products {
  display: grid;
  gap: 30px;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.catalog .catalog__products .product-card {
  display: grid;
  justify-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  width: 300px;
  color: #000000;
  padding-bottom: 10px;
  margin: 20px;
}
.catalog .catalog__products .product-card p {
  text-align: center;
  padding: 10px;
}
.catalog .catalog__products .product-card .product-card_img {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  border-radius: 20px;
  width: 75%;
}
.catalog .catalog__products .product-card .product-card_cta {
  background-color: #000000;
  color: aliceblue;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.catalog .catalog__products .product-card .product-card_cta:hover {
  background-color: #BDE038;
  transform: scale(1.02);
}
.catalog .catalog__filters {
  background-color: #BDE038;
  padding: 0px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.catalog .catalog__filters ul {
  margin-bottom: 50px;
}
.catalog .catalog__filters ul li {
  display: flex;
  align-items: center;
}
.catalog .catalog__filters ul li div .color-filters__negro,
.catalog .catalog__filters ul li div .color-filters__blanco,
.catalog .catalog__filters ul li div .color-filters__verde,
.catalog .catalog__filters ul li div .color-filters__marron {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.color-filters__negro {
  background-color: black;
}

.color-filters__blanco {
  background-color: white;
}

.color-filters__verde {
  background-color: green;
}

.color-filters__marron {
  background-color: brown;
}

/* Pagina de contacto */
.formulario-contacto {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 24px;
  margin-top: 10%;
  margin-bottom: 100vh;
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.formulario-contacto .formulario-grupo {
  display: flex;
  flex-direction: column;
}
.formulario-contacto .formulario-grupo .formulario-label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #000000;
}
.formulario-contacto .formulario-grupo .formulario-input,
.formulario-contacto .formulario-grupo .formulario-textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}
.formulario-contacto .formulario-grupo .formulario-input:focus,
.formulario-contacto .formulario-grupo .formulario-textarea:focus {
  border-color: #BDE038;
  outline: none;
}
.formulario-contacto .formulario-boton {
  background-color: #000000;
  color: aliceblue;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.formulario-contacto .formulario-boton:hover {
  background-color: #BDE038;
}

/* links */
a {
  color: aliceblue !important;
  text-decoration: none !important;
}

a:hover {
  color: #BDE038 !important;
}

/* Header y Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  height: 65px;
}
header nav ul {
  display: flex;
  list-style: none;
  font-size: 16px;
  gap: 10px;
  text-decoration: none !important;
}
header nav ul .button-shop {
  border: 0PX;
  background-color: #000000;
}
header nav ul .button-shop .bi {
  color: aliceblue;
}
header nav ul .button-shop :hover {
  color: #BDE038;
}
header .navbar-toggler {
  display: none;
  border: none;
}
header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  height: 65px;
  color: aliceblue;
}
footer .social i {
  padding-left: 50px;
}

/*# sourceMappingURL=style.css.map */
